<h1>New Contact</h1>
<hr>
<div class="col-md-6">
  <form #newContactForm="ngForm" (ngSubmit)="saveContact(newContactForm.value)" autocomplete="on" novalidate>
    <div class="form-group" >
      <label for="firstName">First Name:</label>
      <input [(ngModel)]="firstName" name="firstName" required id="firstName" type="text" class="form-control" placeholder="First name*" />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input [(ngModel)]="lastName" name="lastName" required id="lastName" type="text" class="form-control" placeholder="Last name*" />
    </div>
    <div class="form-group">
      <label for="telephone">Telephone:</label>
      <input [(ngModel)]="telephone" name="telephone" required id="telephone" type="text" class="form-control" placeholder="Telephone*" />
    </div>
    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input [(ngModel)]="mobile" name="mobile" required id="mobile" type="text" class="form-control" placeholder="Mobile" />
    </div>
    <div class="form-group">
      <label for="mailID">Email ID:</label>
      <input [(ngModel)]="emailID" name="emailID" required id="emailID" type="text" class="form-control" placeholder="Email*" />
    </div><div class="form-group">
      <label for="dateOfBirth">Date of birth:</label>
      <input [(ngModel)]="dateOfBirth" name="dateOfBirth" required id="dateOfBirth" type="text" class="form-control" placeholder="(mm/dd/yyyy)*" />
    </div>
    <div ngModelGroup="Location">
    <div class="form-group">
      <label for="address">Address:</label>
      <input [(ngModel)]="address" name="address" id="address" type="text" class="form-control" placeholder="Address" />
    </div>
    <div class="row">
      <div class="col-md-6">
        <input [(ngModel)]="city" name="city" id="city" type="text" class="form-control" placeholder="City" />
      </div>
      <div class="col-md-6" >
        <input [(ngModel)]="state" name="state" id="state" type="text" class="form-control" placeholder="State" />
      </div>
    </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="newContactForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>